* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Tahoma', sans-serif; 
    color: #fff; 
}

.background-image {
    height: 100vh; 
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
}

.modal-container {
    width: 90%; 
    max-width: 500px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px); 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 6px;
}

.modal-title {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffd700; 
}

.modal-text {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: left; 
}

.modal-note {
    font-size: 0.8em;
    margin-top: 15px;
    color: #ccc;
    text-align: right;
}

@media (max-width: 600px) {
    .modal-title {
        font-size: 1.5em;
    }

    .modal-text {
        font-size: 0.9em;
    }
}
